$color-infra-red: #f65261;
$color-dark-grey: #424242;
$color-black: #232323;
$color-black2: rgba(35, 35, 35, 0.85);
$color-light-grey: #555555;
$color-light-grey2: rgba(55, 55, 55, 0.7);
$color-white: #ffffff;
