@use '../../utils/variables' as *;

.search {
  display: flex;
  width: 65vw;
  .search__input {
    height: 3rem;
    width: 45rem;
    padding-left: 1.5rem;
    padding-right: 1rem;
    background-color: $color-black2;
    outline: none;
    &::placeholder {
      color: $color-white;
      opacity: 0.5;
    }
    border: none;
    font-size: 1.3rem;
    border-radius: 4px;
    color: $color-white;
  }
  .search__button {
    width: 14rem;
    height: 3rem;
    margin-left: 1.5rem;
    font-size: 1.3rem;
    background-color: $color-infra-red;
    border-radius: 4px;
    outline: none;
    border: none;
    color: $color-white;
    text-transform: uppercase;
  }
}
