@use '../../utils/variables' as *;

.sort {
  display: flex;
  gap: 2rem;
  text-transform: uppercase;
  .sort__title {
    color: $color-white;
    opacity: 0.6;
  }
  #sort-by {
    border: none;
    outline: none;
    background-color: $color-black2;
    color: $color-white;
    text-transform: uppercase;
    option {
      padding: 0.5rem;
    }
  }
}
