@use '../../utils/variables' as *;

.darkBG {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 100vh;
  z-index: 12;
  position: fixed;
  top: 0;
  left: 0;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 12;
}

.modal {
  width: 70vw;
  max-width: 65rem;
  height: 96vh;
  background: $color-black;
  color: white;
  z-index: 10;
  border-radius: 16px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  overflow-y: auto;
  @media screen and (max-width: 1080px) {
    width: 90vw;
  }
}

.modalContent {
  height: 100%;
  padding: 10px;
  font-size: 14px;
  color: #2c3e50;
  text-align: center;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
}

.title {
  font-size: 2rem;
  text-transform: uppercase;
  color: $color-white;
}

.closeBtn {
  cursor: pointer;
  border: none;
  font-size: 2rem;
  color: $color-white;
  background-color: $color-black;
}

.closeBtn:hover {
  color: $color-infra-red;
}
